<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/MPBuddy/js/config.js"></script> <!-- Include config.js first -->
  <script src="/MPBuddy/js/utils.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MP Buddy</title>
  <link rel="stylesheet" href="/MPBuddy/css/styles.css">
</head>
<body>
	<h1><b></b>System Center Management Pack Catalog</b></h1>
	
	<div id="content_Categories">
		<h2>Categories</h2>
		<script src="/MPBuddy/js/Categories.js"></script>
	</div>
	
</body>
</html>